.toolbar {
    height: 50px;
    display: flex;
    background-color: rgb(78, 190, 255);
  }
  gridster {
    display: flex;
    height: calc(100vh - 115px);
    flex-direction: column;
    background-color: lightslategray;
  }

  .draggable {
    padding: 5px;
    width: fit-content;
    border: solid 1px #000;
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }  
 
